<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwy.demo.dao.mybatis.AllTestDiscribeDao">

    <select id="selectByCondition" parameterType="map" resultType ="com.lwy.demo.entity.AllTestDiscribe">

            select * from allTestDiscribe

            <where>
                1=1
                <if test="id != ''">
                    and id = #{id}
                </if>
                <if test="discribe != ''">
                    and titleDiscribe like #{discribe}
                </if>
                <if test="table != ''">
                    and tableName = #{table}
                </if>

            </where>
    </select>



</mapper>